Laboration_3_OnYourOwn/EmployeeClient/Service References/EmployeeService/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5385/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5385/EmployeeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:5385/EmployeeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" />
      <xsd:import schemaLocation="http://localhost:5385/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5385/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwndService" />
      <xsd:import schemaLocation="http://localhost:5385/EmployeeService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Common" />
      <xsd:import schemaLocation="http://localhost:5385/EmployeeService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Runtime.InteropServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_GetEmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeById" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeById_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeById_SqlExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" name="detail" element="q2:SqlException" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SaveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SaveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SaveEmployee_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SaveEmployee_SqlExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" name="detail" element="q4:SqlException" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetEmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeById" message="tns:IEmployeeService_GetEmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByIdResponse" message="tns:IEmployeeService_GetEmployeeById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByIdApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IEmployeeService_GetEmployeeById_ApplicationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByIdSqlExceptionFault" name="SqlExceptionFault" message="tns:IEmployeeService_GetEmployeeById_SqlExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/SaveEmployee" message="tns:IEmployeeService_SaveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/SaveEmployeeResponse" message="tns:IEmployeeService_SaveEmployee_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/SaveEmployeeApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IEmployeeService_SaveEmployee_ApplicationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/SaveEmployeeSqlExceptionFault" name="SqlExceptionFault" message="tns:IEmployeeService_SaveEmployee_SqlExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeById">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlExceptionFault">
        <soap:fault use="literal" name="SqlExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/SaveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlExceptionFault">
        <soap:fault use="literal" name="SqlExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:5385/EmployeeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>