Laboration/Laboration_1_Client/Service References/IndiasVicePresidentsService/IndiaVicePresidentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IndiaVicePresidentGivenYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IndiaVicePresidentGivenYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IndiaVicePresidentGivenYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IndiaVicePresidentGivenYearSoapIn">
    <wsdl:part name="parameters" element="tns:IndiaVicePresidentGivenYear" />
  </wsdl:message>
  <wsdl:message name="IndiaVicePresidentGivenYearSoapOut">
    <wsdl:part name="parameters" element="tns:IndiaVicePresidentGivenYearResponse" />
  </wsdl:message>
  <wsdl:portType name="IndiaVicePresidentServiceSoap">
    <wsdl:operation name="IndiaVicePresidentGivenYear">
      <wsdl:input message="tns:IndiaVicePresidentGivenYearSoapIn" />
      <wsdl:output message="tns:IndiaVicePresidentGivenYearSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IndiaVicePresidentServiceSoap" type="tns:IndiaVicePresidentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IndiaVicePresidentGivenYear">
      <soap:operation soapAction="http://tempuri.org/IndiaVicePresidentGivenYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IndiaVicePresidentServiceSoap12" type="tns:IndiaVicePresidentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IndiaVicePresidentGivenYear">
      <soap12:operation soapAction="http://tempuri.org/IndiaVicePresidentGivenYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IndiaVicePresidentService">
    <wsdl:port name="IndiaVicePresidentServiceSoap" binding="tns:IndiaVicePresidentServiceSoap">
      <soap:address location="http://localhost:21349/IndiaVicePresidentService.asmx" />
    </wsdl:port>
    <wsdl:port name="IndiaVicePresidentServiceSoap12" binding="tns:IndiaVicePresidentServiceSoap12">
      <soap12:address location="http://localhost:21349/IndiaVicePresidentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>