Laboration/Laboration_1_Client/Service References/LundsMayorService/LundsBorgmastareService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReturnMayorForSpecificYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnMayorForSpecificYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMayorForSpecificYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReturnMayorForSpecificYearSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnMayorForSpecificYear" />
  </wsdl:message>
  <wsdl:message name="ReturnMayorForSpecificYearSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnMayorForSpecificYearResponse" />
  </wsdl:message>
  <wsdl:portType name="LundsBorgmastareServiceSoap">
    <wsdl:operation name="ReturnMayorForSpecificYear">
      <wsdl:input message="tns:ReturnMayorForSpecificYearSoapIn" />
      <wsdl:output message="tns:ReturnMayorForSpecificYearSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LundsBorgmastareServiceSoap" type="tns:LundsBorgmastareServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnMayorForSpecificYear">
      <soap:operation soapAction="http://tempuri.org/ReturnMayorForSpecificYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LundsBorgmastareServiceSoap12" type="tns:LundsBorgmastareServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnMayorForSpecificYear">
      <soap12:operation soapAction="http://tempuri.org/ReturnMayorForSpecificYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LundsBorgmastareService">
    <wsdl:port name="LundsBorgmastareServiceSoap" binding="tns:LundsBorgmastareServiceSoap">
      <soap:address location="http://localhost:19734/LundsBorgmastareService.asmx" />
    </wsdl:port>
    <wsdl:port name="LundsBorgmastareServiceSoap12" binding="tns:LundsBorgmastareServiceSoap12">
      <soap12:address location="http://localhost:19734/LundsBorgmastareService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>