Laboration/Laboration_1_Client/Service References/NameDayService/NameDay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DateOfNameDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DateOfNameDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DateOfNameDayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DateOfNameDaySoapIn">
    <wsdl:part name="parameters" element="tns:DateOfNameDay" />
  </wsdl:message>
  <wsdl:message name="DateOfNameDaySoapOut">
    <wsdl:part name="parameters" element="tns:DateOfNameDayResponse" />
  </wsdl:message>
  <wsdl:portType name="NameDaySoap">
    <wsdl:operation name="DateOfNameDay">
      <wsdl:input message="tns:DateOfNameDaySoapIn" />
      <wsdl:output message="tns:DateOfNameDaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NameDaySoap" type="tns:NameDaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DateOfNameDay">
      <soap:operation soapAction="http://tempuri.org/DateOfNameDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NameDaySoap12" type="tns:NameDaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DateOfNameDay">
      <soap12:operation soapAction="http://tempuri.org/DateOfNameDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NameDay">
    <wsdl:port name="NameDaySoap" binding="tns:NameDaySoap">
      <soap:address location="http://localhost:16491/NameDay.asmx" />
    </wsdl:port>
    <wsdl:port name="NameDaySoap12" binding="tns:NameDaySoap12">
      <soap12:address location="http://localhost:16491/NameDay.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>